<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyOleDbConnectionString" 
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=GolfClub.accdb;" 
         providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="Query1" value="SELECT TOP 3 * FROM Entry;" />
    <add key="Query2" value="SELECT TOP 3 * FROM Entry;" />
    <add key="Query3" value="SELECT TOP 3 * FROM Entry;" />
    <add key="Query4" value="SELECT TOP 3 * FROM Entry;" />
  </appSettings>
</configuration>
